/* https://gist.github.com/DrewML/0acd2e389492e7d9d6be63386d75dd99 */
/* https://a.slack-edge.com/4e3ef/style/rollup-client_secondary.css */

/* hoping that Slack eventually Darkens up: https://twitter.com/slackhq/status/531941157283315712 */

/*
ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight) {
    background: #353535;
}
*/

:root, #client-ui {
	background: black;
	/* if tab is made transparent, these are overriden */
}

code {
	border: none !important;
}

ts-message,
.c-message__sender, .c-message__body,
.c-message_attachment__row,
.c-message_attachment__text,
.c-message_attachment__field_value,
.c-timestamp__label {
    font-size: 9pt !important;
	font-family: -apple-system-font !important;
}

/* ts-message.active .star, ts-message:hover .star */

/* make callouts a little less burning */
.c-mrkdwn__member--link, .c-mrkdwn__subteam--link {
	color: #ff2f91 !important;
	background: inherit !important;
}

#col_channels,
#team_menu,
#quick_switcher_btn,
.c-message_list__day_divider__label__pill,
.c_message {
    background: #2B2B2B !important;
	font-family: -apple-system-font !important;
}

.channel_title, .channel_topic_text,
#edit_topic_inner,
.search_input, #msg_input {
	font-family: -apple-system-font !important;
}

html, body,
ts-message.active:not(.standalone):not(.multi_delete_mode):not(.highlight),
ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight),
.c-message:hover, .c-message--hover,
.channel_title_info,
.channel-header .flex_header, .channel_topic,
.p-message_pane, .c-scrollbar__hider:before,
#edit_topic_inner:before,
#msg_input,
.flex_header,
#channel_header_info,
#primary_file_button,
#col_messages > .row-fluid,
#col_flex,
.search_message_result,
.search_result_with_extract,
.channel_header,
#footer,
#messages_container,
.day_divider,
.tab_container,
.panel .heading,
#mentions_options,
#search_tab, #flex_contents, #search_results,
#search_options, #search_filters, #search_results_loading {
    background: none !important;
	background-color: inherit !important;
}

span.match {
	background: magenta !important;
}

.ts_icon:not(.ts_icon_presence):before, ts-icon:before,
.panel .heading,
.message_body, .c-message__body,
.c-message_attachment__row,
.c-message_attachment__text,
.c-message_attachment__field_value,
.c-message_list__day_divider__label__pill,
#msg_input,
.timestamp,
.initial_comment .comment,
#im_title,
#channel_title,
#mentions_options {
    color: #fff !important;
}

#quick_switcher_btn {
    border-top: none !important;
}

#client_body:not(.onboarding):before {
/*
    border-bottom: 1px solid #4C4C4C;
    background: none !important;
*/
    content: none !important;
}

.monkey_scroll_bar,
.monkey_scroll_handle_inner {
    background: #333131 !important;
}

#stars_toggle.active,
#recent_mentions_toggle.active {
    background: #6D6D6D !important;
}

.action_hover_container .ts_icon:before,
.action_hover_container .ts_icon:after,
#menu_items .ts_icon:before,
#menu_items .ts_icon:after,
body
{
   color: initial !important;
}

ts-message .action_hover_container a {
   background: none !important;
}

#search_container input,
.search_input,
#message-input {
    background: none !important;
    color: white !important;
}

#message-input:placeholder {
    background: white !important;
    color: initial !important;
}

.special_formatting {
    background-color: inherit !important;
    color: #39cc2f !important;
}

.mention {
    background: inherit !important;
    color: #e1dc28;
}

.snippet_container, .file_container, .CodeMirror, .CodeMirror-code,
.c-file_container,
.file_container .CodeMirror .Condemirror-code>div:before,
.file_container .CodeMirror .Condemirror-code>div pre
{
	background: black !important;
	background-color: inherit !important;
	color: lime !important;
}
