/* https://gist.github.com/DrewML/0acd2e389492e7d9d6be63386d75dd99 */
/* https://a.slack-edge.com/4e3ef/style/rollup-client_secondary.css */
/* https://github.com/frankdilo/sblack/blob/master/Sblack/Resources/night_mode.css */

/* hoping that Slack eventually Darkens up: https://twitter.com/slackhq/status/531941157283315712 */
/* nope! because my condishuns: https://twitter.com/SlackHQ/status/1024986923604107265 */

/*
ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight) {
    background: #353535;
}
*/

:root, #client-ui, .card, .headroom {
	background: black !important;
	/* if tab is made transparent, these are overriden */
}

/* current channel title */
.p-client, .p-classic-nav__right_search {
	background-color: inherit !important;
	color: whitesmoke !important;
}

/* current channel sub-title & buttons */
.p-classic_nav__model__title__info,
.p-classic_nav__model__button,
.p-classic_nav__right__button,
.p-classic_nav__right__search__icon
{
	color: inherit !important;
}

/* current channel sub-title & buttons */
code {
	border: none !important;
	background-color: inherit !important;
	color: lime !important;
}

ts-message,
.c-message__sender, .c-message__body,
.c-message_attachment__row,
.c-message_attachment__text,
.c-message_attachment__field_value,
.c-timestamp__label {
    font-size: 9pt !important;
	font-family: -apple-system-font !important;
}

.c-message__body {
	margin-left: 3px !important;
}

/* ts-message.active .star, ts-message:hover .star */

/* make callouts a little less burning */
.c-mrkdwn__member--link, .c-mrkdwn__subteam--link {
	color: #ff2f91 !important;
	background: inherit !important;
}

#col_channels,
#team_menu,
#quick_switcher_btn,
.p-message_pane__unread_banner__banner,
.c-message_list__day_divider__label__pill,
.c_message, .c-message_group,
.c-search, .c-search_modal .popover>div {
    background: #2B2B2B !important;
	font-family: -apple-system-font !important;
}

.channel_title,
#edit_topic_inner,
.p-message_pane__top_banners,
.c-virtual_list__item--sticky,
.p-message_pane__unread_banner, .p-message_pane__banner,
.search_input, #msg_input, #fs_modal {
	font-family: -apple-system-font !important;
}

html, body,
.unread_msgs_loading, ts-thread,
ts-message.active:not(.standalone):not(.multi_delete_mode):not(.highlight),
ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight),
.client_container, .client_main_container, .container-fluid,
.c-scrollbar__hider, .c-message,
.c-message:hover, .c-message--hover,
.channel_title_info,
.p-message_pane__top_banners,
.c-virtual_list,
.c-virtual_list__item--sticky,
.c-message--adjacent,
.c-message--ephemeral,
.channel-header .flex_header, .channel_topic,
pre,
#edit_topic_inner:before,
#msg_input,
.p-message_input_field,
.flex_header,
#channel_header_info,
#primary_file_button,
#col_messages > .row-fluid,
#col_messages,
#col_flex,
.search_message_result,
.search_result_with_extract,
.channel_header,
#footer,
#messages_container,
#messages_container:after,
#unread_msgs_scroller_div:after,
.p-history_container,
.message_pane_scroller,
#threads_view_banner, .messages_banner,
#msgs_overlay_div, #client_header,
.day_divider,
.tab_container,
.panel .heading,
#mentions_options,
#search_tab, #flex_contents, #search_results,
#search_options, #search_filters, #search_results_loading,
.thread_messages, .global_notification_block,
.display_real_names_block_sample
{
    background: none !important;
	background-color: inherit !important;
}

/*
#messages_container > div.p-history_container.message_pane_scroller > div > div:nth-child(2) > div > div.c-virtual_list.c-virtual_list--scrollbar.c-message_list.c-scrollbar.c-scrollbar--fade > div.c-scrollbar__hider::before

message_banner
opacity: 0
*/

span.match {
	background: magenta !important;
}

.ts_icon:not(.ts_icon_presence):not(.back_icon):before, ts-icon:before,
.panel .heading,
.message_body, .c-message__body,
.c-message_attachment__row,
.c-message_attachment__text,
.c-message_attachment__field_value,
.c-message_list__day_divider__label__pill,
.c-message_kit__text, .c-timestamp,
#msg_input,
.p-message_input_field,
.timestamp,
.initial_comment .comment,
#im_title,
#channel_title,
#mentions_options {
    color: #fff !important;
}

#quick_switcher_btn {
    border-top: none !important;
}

/*
.p-message_pane, .c-scrollbar__hider::before
{ display: none !important }
*/

.channel_header,
#col_messages,
#footer
{
    /* just make it greyer?
	box-shadow: none !important;
    */
    box-shadow: inset 1px 0 0 0 darkgrey !important;
}

.c-message_list__day_divider__line
{
	/* display: none !important; */
	border-top: 1px solid darkgrey !important;
}

.p-message_pane, .c-scrollbar__hider::before,
#client_body:not(.onboarding):before {
/*
    border-bottom: 1px solid #4C4C4C;
*/
    border-bottom: none !important;
    background: none !important;
    content: none !important;
    background-color: inherit !important;
}

.monkey_scroll_bar,
.monkey_scroll_handle_inner {
    background: #333131 !important;
}

#stars_toggle.active,
#recent_mentions_toggle.active {
    background: #6D6D6D !important;
}

.action_hover_container .ts_icon:before,
.action_hover_container .ts_icon:after,
#menu_items .ts_icon:before,
#menu_items .ts_icon:after,
body
{
   color: initial !important;
}

.c-snippet__code .CodeMirror-code > div:before,
div.c-virtual_list__scroll_container,
.c-virtual_list__sticky_container,
ts-message .action_hover_container a {
   border-right: none !important;
   background: none !important;
}

.message_sender,
ts-message,
.flexpane_file_title .member,
#flex_contents .heading_text,
.indifferent_grey,
#search_container input,
.search_input, .search_input_wrapper,
.comment_input, .comment_body,
.channel_topic_text,
.messages_header,
#typing_text,
#message-input, .message_input,
.title, .c-message__file_meta_title,
.reply_broadcast_label_container,
.inline_message_input_container,
.c-search_message__body, .p-search_filters,
.c-search_autocomplete__suggestion_content,
.p-threads_flexpane__separator_count,
.p-flexpane_header,
.c-timestamp, .c-channel_name__text,
.p-message_input_file_button, .c-icon--plus-thick
{
    background: none !important;
    color: whitesmoke !important;
    font-family: -apple-system-font !important;
}

#message-input:placeholder {
    background: white !important;
    color: initial !important;
}

.special_formatting {
    background-color: inherit !important;
    color: #39cc2f !important;
}

.mention {
    background: inherit !important;
    color: #e1dc28;
}

.snippet_container, .file_container, .CodeMirror, .CodeMirror-code,
.c-file_container, .c-pillow_file_container,
.c-pillow_file__content, .c-pillow_file__content--collapsed:after, 
.file_container .CodeMirror .CodeMirror-code>div:before,
.file_container .CodeMirror .CodeMirror-code>div pre,
pre.c-mrkdwn__pre, pre, .btn_msg_action,
.card .CodeMirror
{
	background: black !important;
	background-color: inherit !important;
	color: lime !important;
}

.p-emoji_picker, .p-emoji_picker__list_container,
.p-emoji_picker__heading, .p-emoji_picker__footer,
.p-emoji_picker__preview_text, .p-emoji_picker__list_scroller,
.p-emoji_picker__input_container, .p-emoji_picker__input,
.search_menu, .query_header, .footer__navigation-help,
#fs_modal_bg, .fs_modal_file_viewer_header, .viewer,
.contents_container, .channel_list_container
{
	background: black !important;
	color: lime !important;
	font-family: -apple-system-font !important;
}

.c-member--large,
.c-member__display-name--large,
.c-member__title,
.c-member__other-names, .sidebar_menu_list_item,
.c-search_autocomplete__suggestion_item
{
	color: darkseagreen !important;
}

.c-file_container--gradient::after
{
background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1)) !important;
}

.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),
.c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),
.c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
    /* background-color: #f9f9f9; */
    /*background-color: lightsteelblue !important; */
    background-color: none !important;
	border-bottom: 1px solid darkgrey !important;
}

body > pre {
	/* popped out snippets in "Raw" mode should only wrap for hard line breaks */
	/* great for log files */
	white-space: pre !important;
	word-wrap: initial !important;
}
