<html>
<head>
	<style>
		body { font-family: -apple-system-font; }
		span { text-align: center; }
		a { text-decoration: none; }
	</style>
</head>
<body>
	<span>This app (excluding rendered web content) was made with:</span><br />
	<ul>
	<li><b><a href="http://github.com/kfix/MacPin">MacPin</a></b></li>
	<li><b><a href="http://webkit.org">WebKit</a></b></li>
	<li><a href="https://github.com/mozilla/readability">Readability.js<li>
	<li><a href="https://github.com/cockscomb/UTIKit">UTIKit</a></li>
	</ul>
</body>
</html>
