/* https://github.com/alexanderby/darkreader/blob/master/src/config/sites_fixes.json */
/* :root, img, video, object, iframe, *:not(object):not(body)>embed, *[style*="background:url"]:empty, *[style*="background-image:url"]:empty, *[style*="background: url"]:empty, *[style*="background-image: url"]:empty { */
/* :root, img, video, object, iframe, *:not(object):not(body)>embed, *[style*="background:url"]:not(:empty), *[style*="background-image:url"]:not(:empty), *[style*="background: url"]:not(:empty), *[style*="background-image: url"]:not(:empty) { */
:root, img, video, object, iframe, *:not(object):not(body)>embed, *[style*="background:url"], *[style*="background-image:url"], *[style*="background: url"], *[style*="background-image: url"] {
	filter: invert(1) hue-rotate(180deg);
}
/* 
 * I'd prefer to specifically target all body, div, section, main that have explicitly set white background-color: 000
 * or exclude items with explicity set black background-color:#FFF
*/

/* we dont
::backdrop {
	filter: none !important;
}

/
:root, body { background-color: none !important; }

