/*
 * https://github.com/alexanderby/darkreader/blob/master/src/config/sites_fixes.json
 * https://fullscreen.spec.whatwg.org/#user-agent-level-style-sheet-defaults
*/

/* root inversion to darken all the (usually) bright pages */
:root:not(:-webkit-full-screen-document) {
    filter: invert(1) hue-rotate(180deg);
}

/* double-inversion to undarken all the image-like things in a page */
:matches([style*="background:url"],[style*="background-image:url"],[style*="background: url"],[style*="background-image: url"]):not(body), /* I h8 these pseudo-img div's*/
:not(:not(body):matches([style*="background:url"],[style*="background-image:url"],[style*="background: url"],[style*="background-image: url"]) *):matches(
	/* image-like things except if children of pseudo-img's */
	img, video, iframe,
	object, :not(object)>embed /* Flash */
),
.watch-stage-mode #theater-background, /* YouTube explictly blacks-out the theater bg... and we screw that up :-( */
.player_area /* same with Vimeo */
{
    filter: invert(1) hue-rotate(180deg);
}
/* FIXME: wish I could do a negation or exclusion instead of double-GPUing these elements */

/* no-op all filters when in fullscreen */
:-webkit-full-screen * { filter: none !important; }
/* FIXME: this does mess up some CSS-styled media controls' colors & fades */

/*
 * I'd prefer to specifically target all body, div, section, main that have explicitly set white background-color: 000
 * or exclude items with explicity set black background-color:#FFF
*/

/* make docroots transperanizable */
:root:not(:-webkit-full-screen-document), body { background: none !important; }
